

<br><br><br>
<button class="ui active button">
<%= link_to "Login", login_path %> <br>
</button><br><br>


<button class="ui active button">

<%= link_to "Create a New Account", new_user_path, method: :get %>
</button>
