<div class=center>
<br>
<button class="ui white button">
<%= link_to "Login", login_path %> <br>
</button><br><br>


<button class="ui white button">

<%= link_to "Create a New Account", new_user_path, method: :get %>
</button>
</div>
<div style="background-color: #3399FF;">
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>

